################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/H_Plus_Sports/.vs
